In [1]:
# Dependencies
import json
import os
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

# Load JSON
filepath = os.path.join(".", "Resources/Business_States_2012-2016")
x = "state_naicssector_2016.xlsx"
# print(filepath)
yr = "2016"
print(f'{filepath}/{x}, {yr}')

.\Resources/Business_States_2012-2016/state_naicssector_2016.xlsx, 2016

In [2]:
business_data = pd.read_excel(f'{filepath}/{x}' , skiprows=5)
# business_data.head()
business_data = business_data.drop(business_data.index[[0,1]])
splitted_col = business_data["ENTERPRISE EMPLOYMENT SIZE"].str.split(":", n = 1, expand = True) 

# Split enterprise employment size to # & size cols
business_data["Num"]= splitted_col[0].str.strip()   
business_data["Firm_Size"]= splitted_col[1].str.strip()
state_data = business_data[["STATE DESCRIPTION", "NUMBER OF FIRMS", "NAICS DESCRIPTION", "Num", "Firm_Size"]]
state_data.columns = ["State", "Num_Firms", "NAICS_Desc", "Num(#)", "Firm_Size"]
state_data["Num_Firms"] = state_data["Num_Firms"].astype(int)

state_data = business_data[["STATE DESCRIPTION", "NUMBER OF FIRMS", "NAICS DESCRIPTION", "Num", "Firm_Size"]]
state_data.columns = ["State", yr + "_Num_Firms", "NAICS_Desc", "Num(#)", "Firm_Size"]
state_data[yr + "_Num_Firms"] = state_data[yr + "_Num_Firms"].astype(int)

state_total = state_data.loc[(state_data["NAICS_Desc"] == "Total") & (state_data["Firm_Size"] == "Total")]
yr = state_total[["State", yr + "_Num_Firms"]]
                    
yr

                     State  2016_Num_Firms
2                  Alabama           73976
188                 Alaska           17059
373                Arizona          106963
560               Arkansas           50511
746             California          751982
933               Colorado          136351
1120           Connecticut           71526
1304              Delaware           20390
1485  District of Columbia           18095
1658               Florida          445126
1844               Georgia          177410
2031                Hawaii           25331
2212                 Idaho           38436
2398              Illinois          256603
2585               Indiana          108658
2771                  Iowa           62639
2957                Kansas           58246
3143              Kentucky           68726
3329             Louisiana           81020
3516                 Maine           33927
3700              Maryland          109507
3886         Massachusetts          143042
4072              Michigan          173416
4259             Minnesota          119039
4445           Mississippi           44414
4631              Missouri          126038
4817               Montana           32450
5003              Nebraska           43409
5187                Nevada           51591
5370         New Hampshire           30627
5554            New Jersey          194218
5741            New Mexico           34372
5926              New York          465139
6112        North Carolina          174314
6299          North Dakota           19979
6484                  Ohio          184738
6671              Oklahoma           72661
6856                Oregon           93640
7042          Pennsylvania          230357
7229          Rhode Island           24259
7410        South Carolina           80934
7597          South Dakota           22205
7781             Tennessee           98089
7967                 Texas          434145
8154                  Utah           64524
8340               Vermont           18148
8523              Virginia          152020
8710            Washington          152430
8896         West Virginia           27038
9082             Wisconsin          108799
9269               Wyoming           17950